.search-{
  &container {
    margin: 0 2rem;
    flex: 1 0 auto;
    // @include breakpoint(desktop) {
    //   margin: 0 10rem;
    // }
  }
  &form {
    border-bottom: 2px solid $black;
    margin-bottom: $margin-xl;
    .searchbox {
      display: flex;
      align-items: center;
      margin-bottom: $margin-xl;
      width: 100%;
      flex-direction: column;
    }
  }
  &label {
    font-size: $font-size-xl;
    margin-bottom: $margin-lg;
    text-align: center;
    // @include breakpoint(desktop) {
    //   margin-bottom: 0;
    //   margin-right: $margin-lg;
    // }
  }
  &input {
    display: inline-block;
    padding: $margin-xs;
    width: 100%;
    max-width: 480px;
    font-size: $font-size;
    margin-bottom: $margin-lg;
    // @include breakpoint(desktop) {
    //   margin-bottom: 0;
    //   margin-right: $margin-lg;
    // }
  }
  &button {
    background-color: $blue-dark;
    border-radius:10px;
    color: $white;
    cursor: pointer;
    font-size: $font-size;
    font-weight: bold;
    padding: $margin-sm;
    width: 205px;
    // @include breakpoint(desktop) {
    //   margin-bottom: 0;
    //   margin-right: $margin-lg;
    //   padding: 0 $margin-sm;
    // }
    &:hover {
      background-color: $blue-light;
    }
  }
  &results {
    &-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      // align-items: center;
      margin-bottom: $margin-xl;
      @include breakpoint(tablet) {
        flex-direction: row;
      }
    }
    h2 {
      font-size: $font-size-lg;
      margin: 0 0 $margin-lg;
      @include breakpoint(tablet) {
        margin: 0;
      }
    }
  }
}
