$black:         #282c34;
$white:         #FFFFFF;
$blue:          #004482;
$light-gray:    #eee;
$yellow:        #F5C518;
$yellow-dark:   #F5C518cc;


$font-size-base:  10px;
$font-size:       1.6rem;
$font-size-sm:    1.4rem;
$font-size-md:    2.3rem;
$font-size-lg:    2.5rem;
$font-size-xl:    3rem;
$margin-xs:       .5rem;
$margin-sm:       1rem;
$margin-md:       1.5rem;
$margin-lg:       2rem;
$margin-xl:       3rem;
